.txt{
width : 50%;
height : 45px;
}

.home-page{  
background-image:url('/static/assets/images/part.jpeg');
background-repeat:no-repeat;
background-size:100%;
}

body.data{  
background-image:url('/static/assets/images/background1.jpeg');
background-repeat:no-repeat;
background-size:130%;
background-color: rgba(47, 48, 50, 0.466)
}

::placeholder{
    padding: 15px;
}

.part{
width: 100%;
height: 1000px;
padding: 10px;
margin-top: 15%;
margin-left: 4%;
}

.recents{
    
    width: 40%;
    height: 6%;
    display: flex;
    top: 120px;
    left: 80px;
    background-color: rgba(0, 0, 0, 0.377);
    padding: 10px;
    padding-top: 10px;
}
.contents{
    width: 40%;
    height: 25%;
    display: flex;
    top: 120px;
    left: 80px;
    margin-top: 20px;
    padding-top: 40px;
    padding-left: 25px;
    background-color: rgba(0, 0, 0, 0.298);
}


.abc{
    color: #305232;
    text-decoration: none;
    font-weight: 500;
    font-size: large;
}

.black{
    background-color: rgba(0, 0, 0, 0.503);
    padding:20px;
    color: azure;

}
.list-img{
    width: 150px;
    height: 100px;
    max-width: 150px;
    max-height: 150px;
    object-fit: cover;
    
}

.data-img{
    width: 432px;
    height: 290px;
    max-width: 450px;
    max-height: 300px;
    padding: 10px;
    object-fit: cover;
    float: left;
}

.card-img{
    width: 620px;
    height: 290px;
    max-width: 450px;
    max-height: 300px;
    padding: 10px;
    object-fit: cover;
    float: left;
}

.elements{
    text-decoration: none;
    color: rgb(150, 57, 34);
    font-weight: 400;
    font-size: larger;
}

.prt{
    display: flex;
    flex-direction: column;
}

.author{
    color: #531a1a;
}

button a{
    text-decoration: none;
    color: inherit;
}
.comment-section{
    background-color: rgba(255, 255, 255, 0.486);
    padding: 10px;
    margin-top: 10px;
    height: 100%;
}
.comment-time{
    font-size: smaller;
    font-weight:600;
    color: #0e3267;
    margin-top: 30px;
}
.comment-text{
    font-weight: 500;
}

li>h3{
    color: darkblue;
    margin-left: 600px;
}
.form-class{
    margin-top: 225px;
}
p>a{
    text-decoration: none;
    color: rgb(125, 155, 214);
}
#form1
{
    width: 50%;
}

ul.errorlist>li {
    font-size: small;
    color: red;
    list-style-type: none;
    }

.form {
    width: 50%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    float: left;
    color: #212529;
    box-sizing: unset;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.link{
    color: rgb(89, 89, 226)
}

.link:hover
{
    color: rgb(149, 60, 60)
}
.footer{
width : 100%;
height : 5%;
text-align: center;
background-color: black;
color: #fff;
}